{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block body %}

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light">

        <div class="d-flex my-3">
            <h1 class="flex-grow-1">{% trans 'Work places' %}</h1>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            {% trans 'Create new work place' as create_btn %}
            {% url 'workplace_create' as create_url %}
            {% bootstrap_button create_btn button_class="btn btn-outline-warning" href=create_url %}
        </div>

        <table class="table table-striped">
            <thead>
                <tr class="bg-dark text-light">
                    <th>{% trans 'Workplace' %}</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for wp in workplaces %}
            <tr class="bg-dark">
                <td class="text-light">
                    <div class="d-grid gap-2 col-10 mx-auto">
                        {% url 'workplace' wp.id as open_url %}
                        {% bootstrap_button wp.name button_class="btn btn-outline-primary" href=open_url %}
                    </div>
                </td>
                <td class="text-light">
                    <a class="link-secondary" href="{% url 'workplace_update' wp.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a class="link-danger" href="{% url 'workplace_delete' wp.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
